* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

.Top-header {
  /* position: fixed; */
  height: 68px;
  background-color: lightskyblue;
}

#simpleHeader {
  margin-top: 10px;
  margin-bottom: 1px;
  color: white;
  letter-spacing: 3px;
  align-items: center;
  display: inline-block;
  background-color: lightskyblue;
  width: auto;
  height: 50px;
}
#simpleHeader::before {
  width: 20px;
  height: 20px;
  content: "\1F9E0";
}
nav {
  color: white;
  display: inline-block;
  float: right;
}
nav ul li {
  margin: 20px;
  display: inline-block;
  font-size: 20px;
  align-items: center;
}

nav a {
  color: white;
  text-decoration: none;
  margin-right: 10px;
}

figure img {
  height: 600px;
  width: 100%;
}
#backgroundh2 {
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
  font-size: 200%;
  color: white;
  border: 1.75px solid white;
  font-weight: bold;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

article {
  display: flex;
  margin: 7.5px;
  width: 100%;
}

.About-me-main h2 {
  padding: 40px;
  font-size: 190%;
  color: lightskyblue;
  border-right: 6px solid lightskyblue;
}

.About-me-main p {
  padding: 40px;
  display: inline-block;
}

Main {
  display: flex;
  /* flex-wrap: wrap; */
}

Main h2 {
  padding: 40px;
  font-size: 190%;
  color: lightskyblue;
  border-right: 6px solid lightskyblue;
}

section {
  display: inline-block;
  margin: 10px;
}
section img {
  padding: 5px;
  display: inline-block;
  justify-content: space-evenly;
  margin: 10px;
  background-color: black;
  /* background-size: contain; */
  border: 3px solid rgb(111, 144, 165);
  opacity: 75%;
}
/* #sectionh3 {
  font-size: 50px;
  color: white;
  text-decoration: none;
  position: relative;
  top: 20%;
  left: 48%;
} */

section img:hover {
  opacity: 100%;
}

footer {
  margin-top: 10px;
  display: flex;
  height: 50px;
  background-color: lightskyblue;
  justify-content: space-around;
}

footer h2 {
  color: white;
  display: inline-block;
  align-items: center;
  margin: 10px;
}

footer h4 {
  color: white;
  display: inline-block;
  align-items: center;
  margin: 18px;
}

@media screen and (max-width: 768px) {
}
